* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/*Reseteo basico*/
.titulo-vivirverde {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
}

header {
  z-index: 1;
  background-color: rgba(53, 123, 7, 0.856);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(233, 239, 233);
  width: 100%;
  position: sticky;
  top: 0;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
header h1 {
  text-align: center;
  padding: 10px;
}
header h2 {
  text-align: center;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
header nav {
  background-color: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 1100px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header h2 {
    display: none;
  }
  header nav ul {
    display: flex;
    gap: 40px;
  }
}
/*----poratada----*/
.portada {
  background-image: url(..//images/comidaindex\ \(1\).jpg);
  background-size: cover;
  object-fit: fill;
  height: 20vh;
  background-position: center;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
@media (min-width: 1100px) {
  .portada {
    background-size: cover;
    background-position: bottom center;
  }
}

/*--------------------FOOTER-------------*/
footer {
  padding: 10px;
  color: rgb(110, 117, 18);
  background-image: url(/images/leaves.webp);
}

.footer-index {
  display: flex;
  flex-direction: row;
  gap: 8px;
  text-align: center;
}
@media (min-width: 1100px) {
  .footer-index {
    gap: 20px;
  }
}
.footer-index h4 {
  font-weight: bold;
}
.footer-index h5 {
  font-weight: bold;
}
.footer-index img {
  width: 60px;
  height: 60px;
}
@media (min-width: 1100px) {
  .footer-index {
    display: grid;
    grid-template-columns: 266px 266px 266px;
    grid-template-rows: 160px;
    justify-content: center;
    padding: 40px;
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  text-align: center;
}
.footer-nav ul {
  margin: none;
  padding: 0px;
  font-style: italic;
}
.footer-nav ul li a {
  text-decoration: none;
}

.footer-redes div {
  display: flex;
  font-size: 14px;
}
.footer-redes div i {
  width: 25px;
  height: 25px;
  border: 2px solid rgb(78, 158, 25);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: rgb(78, 158, 25);
}
@media (min-width: 1100px) {
  .footer-redes div {
    text-align: center;
    justify-content: center;
  }
}

.strars-index {
  display: flex;
  flex-direction: row;
}

.bi-star-fill {
  color: rgb(78, 158, 25);
}

.bg-verde {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btnproductosdestacados {
  border: none;
  background-color: rgb(78, 158, 25);
  color: white;
  border-radius: 10px;
  padding: 8px 10px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
}

.btnproductos {
  border: none;
  color: #2710f2;
  background-color: rgb(78, 158, 25);
  text-decoration: none;
  border-radius: 10px;
  padding: 8px 10px;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
.btnproductos:hover {
  background-color: rgb(78, 158, 25);
}
@media (min-width: 1100px) {
  .btnproductos {
    font-size: 25px;
  }
}

.btncontacto {
  background-color: rgb(78, 158, 25);
  border-radius: 10px;
  width: 70px;
  height: 30px;
  padding: 3px;
  font-size: 18px;
  margin-top: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  justify-content: center;
  text-align: center;
}

.btn-form {
  color: white;
  background-color: rgb(126, 126, 126);
  border-radius: 5px;
  border-color: rgb(126, 126, 126);
  margin: 10px;
}

a:hover {
  background-color: rgb(171, 205, 77);
}

input:focus {
  background-color: rgb(214, 213, 213);
}

/*------productos destacados---*/
.titulo-index {
  text-align: center;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 27px;
  color: rgb(78, 158, 25);
  margin: 20px;
  text-shadow: -2px 2px 5px rgba(3, 99, 10, 0.573);
}

.grilla-productos-destacados {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 30px;
  justify-items: center;
}
@media (min-width: 1100px) {
  .grilla-productos-destacados {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 300px 300px;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
}

.hellmanns {
  width: 100px;
  height: 120px;
  object-fit: contain;
}

.queso {
  width: 200px;
  height: 120px;
  object-fit: contain;
}

.hamburguesas {
  width: 200px;
  height: 95px;
  object-fit: contain;
}

.alfajor {
  width: 200px;
  height: 130px;
  object-fit: contain;
}

.tarjeta-producto {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(41, 107, 19);
  height: 300px;
  width: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: rgb(78, 158, 25);
}

.conocenos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.conocenos h2 {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
  font-size: 27px;
  color: rgb(78, 158, 25);
  margin: 20px;
  text-shadow: -2px 2px 5px rgba(3, 99, 10, 0.573);
}
.conocenos p {
  font-style: italic;
  line-height: 25px;
  margin-bottom: 25px;
}
@media (min-width: 1100px) {
  .conocenos {
    display: grid;
    grid-template-columns: 800px;
    grid-template-rows: 100px;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
}

.grilla-recomendaciones {
  display: grid;
  grid-template-columns: 170px 170px;
  grid-template-rows: 260px 320px;
  justify-content: center;
  text-align: center;
  padding: 30px;
  gap: 10px;
  margin-left: 10px;
}
.grilla-recomendaciones article {
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.716);
}
.grilla-recomendaciones article h3 {
  color: rgb(78, 158, 25);
}
.grilla-recomendaciones article p {
  font-style: italic;
  padding: 5px;
}
@media (min-width: 1100px) {
  .grilla-recomendaciones {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 180px 180px;
    justify-content: center;
    padding: 40px;
  }
}

.contactanos {
  /* AGREGAR ICONO DE CUADRO DE DIALOGO*/
}
.contactanos h2 {
  text-align: center;
  font-size: 27px;
  color: rgb(78, 158, 25);
  margin: 20px;
  text-shadow: -2px 2px 5px rgba(3, 99, 10, 0.573);
}
.contactanos p {
  color: black;
}

.mapa {
  text-align: center;
  color: rgb(78, 158, 25);
  font-style: italic;
  font-size: 18px;
  padding: 10px;
  line-height: 25px;
}
.mapa h2 {
  text-align: center;
  font-size: 27px;
  color: rgb(78, 158, 25);
  margin: 20px;
  text-shadow: -2px 2px 5px rgba(3, 99, 10, 0.573);
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
  margin: 20px;
}
@media (min-width: 1100px) {
  .map-responsive {
    margin-left: 100px;
    margin-right: 100px;
  }
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.icono-contacto {
  width: 30px;
  height: 30px;
  border: 2px solid rgb(78, 158, 25);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: rgb(78, 158, 25);
}

.contactanos {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.formulario-contacto {
  display: grid;
  grid-template-columns: 190px 190px;
  justify-content: center;
  align-items: center;
}
.formulario-contacto h3 {
  text-align: center;
  color: rgb(78, 158, 25);
  font-style: italic;
  font-size: 18px;
  padding: 10px;
  line-height: 25px;
}
.formulario-contacto article {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1100px) {
  .formulario-contacto article form {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 60px 60px;
    align-items: flex-start;
    justify-items: flex-start;
    gap: 10px;
  }
}
@media (min-width: 1100px) {
  .formulario-contacto {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 160px;
  }
}

.icono-igwp {
  width: 30px;
  height: 30px;
  border: 2px solid rgb(78, 158, 25);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: rgb(78, 158, 25);
}

.redes-sociales h2 {
  text-align: center;
  font-size: 27px;
  color: rgb(78, 158, 25);
  margin: 20px;
  text-shadow: -2px 2px 5px rgba(3, 99, 10, 0.573);
}
.redes-sociales div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 10px;
}

.redes-sociales div {
  display: flex;
  flex-direction: column;
}

.filtros {
  background-color: rgba(94, 132, 69, 0.17);
  padding: 10px;
}
.filtros h2 {
  text-align: center;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 27px;
  color: rgb(78, 158, 25);
  margin: 20px;
  text-shadow: -2px 2px 5px rgba(3, 99, 10, 0.573);
}
.filtros ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-left: 1px;
  gap: 5px;
  color: rgb(78, 158, 25);
}
@media (min-width: 1100px) {
  .filtros ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    color: rgb(78, 158, 25);
  }
}

.grilla-seccionproductos article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border: 2px solid rgb(41, 107, 19);
  height: 300px;
  width: 300px;
  justify-content: center;
  margin-top: 10px;
  color: rgb(78, 158, 25);
}

.grilla-seccionproductos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 30px;
  justify-items: center;
}
@media (min-width: 1100px) {
  .grilla-seccionproductos {
    display: grid;
    grid-template-columns: 266px 266px 266px;
    grid-template-rows: 300px 300px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 40px;
  }
}

.tarjeta-seccionproductohamburguesa h3 {
  text-align: center;
}

.tarjeta-seccionproductoleche img {
  width: 80px;
  height: 125px;
}

.tarjeta-seccionproducto img {
  width: 125px;
  height: 125px;
  overflow: hidden;
}

.tarjeta-seccionproductonotcheese img {
  height: 100px;
  width: 100px;
}
.tarjeta-seccionproductonotcheese h3 {
  text-align: center;
}

.tarjeta-seccionproductojamon img {
  height: 125px;
  width: 150px;
  overflow: hidden;
}

.titulo-sugerencias {
  text-align: center;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 27px;
  color: rgb(78, 158, 25);
  margin: 20px;
  text-shadow: -2px 2px 5px rgba(3, 99, 10, 0.573);
}

.sugerencias-clientes {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 300px;
  justify-content: center;
  text-align: center;
  padding: 20px;
  gap: 20px;
}
.sugerencias-clientes article {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: circle;
}
.sugerencias-clientes article a {
  text-decoration: none;
  color: rgb(78, 158, 25);
}
.sugerencias-clientes article h4 {
  color: rgb(78, 158, 25);
}
.sugerencias-clientes article p {
  font-style: italic;
}
@media (min-width: 1100px) {
  .sugerencias-clientes {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 260px 200px;
    justify-content: center;
    padding: 30px;
  }
}

.img-experienciaopiniones {
  background-image: url(..//images/experiencia-opiniones.jpg);
  background-size: cover;
  object-fit: fill;
  height: 20vh;
  background-position: center;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  object-position: bottom;
}

.imgtoptres {
  width: 160px;
  height: 160px;
}

.seccionexperienciaverde {
  background-image: url(/images/top3.jpg);
  background-size: cover;
  object-fit: fill;
  background-position: center;
  background-position: bottom;
}

.imgrestos {
  width: 250px;
  height: 250px;
}

.titulo-top3 {
  font-size: 24px;
}

.seccionlugares {
  background-image: url(/images/top32.jpg);
  background-size: cover;
  object-fit: fill;
  background-position: center;
  background-position: bottom;
}

.seccionopina {
  background-image: url(/images/top3.jpg);
  background-size: cover;
  object-fit: fill;
  background-position: center;
  background-position: bottom;
}

.titulo-experiencia {
  text-align: center;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 27px;
  color: rgb(78, 158, 25);
  margin: 20px;
  text-shadow: -2px 2px 5px rgba(250, 255, 250, 0.573);
  font-weight: bold;
}

.titulo-nosotros {
  text-align: center;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 40px;
  color: rgb(78, 158, 25);
  margin: 20px;
  text-shadow: -2px 2px 5px rgba(3, 99, 10, 0.573);
}

/*---animacion boton portada*/
.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-29 22:50:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- 
*/
/*  * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
*/
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}
/*---------------ANIMACIONES TITULOS PAGINAS-----------*/
/* ----------------------------------------------
 * Generated by Animista on 2023-1-30 22:57:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
.slide-right {
  -webkit-animation: slide-right 0.5s ease-in-out alternate-reverse backwards;
  animation: slide-right 0.5s ease-in-out alternate-reverse backwards;
}

/*--------------------ANIMACION TARJETAS ----------------*/
.shadow-drop-2-center {
  -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-1-30 23:1:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
  }
}
.shadow-drop-2-br {
  -webkit-animation: shadow-drop-2-br 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-br 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-1-30 23:5:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes shadow-drop-2-br {
  0% {
    -webkit-transform: translateZ(0) translateX(0) translateY(0);
    transform: translateZ(0) translateX(0) translateY(0);
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    -webkit-transform: translateZ(50px) translateX(-12px) translateY(-12px);
    transform: translateZ(50px) translateX(-12px) translateY(-12px);
    -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-br {
  0% {
    -webkit-transform: translateZ(0) translateX(0) translateY(0);
    transform: translateZ(0) translateX(0) translateY(0);
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    -webkit-transform: translateZ(50px) translateX(-12px) translateY(-12px);
    transform: translateZ(50px) translateX(-12px) translateY(-12px);
    -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
/*-----------------ANIMACIONES IMAGENES------------------------------------*/
.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 0.9s ease-in-out both;
  animation: swing-in-top-fwd 0.9s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-1-30 23:8:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
