*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/*Reseteo basico*/



/* -----------------------HEADER-------------------*/

header {
    background-color: rgba(78, 158, 25, 0.777);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(233, 239, 233);
}

header h1 {
    text-align: center;
    padding: 10px;
}
header h3 {
    text-align: center;
    padding: 10px;
    justify-content: center ;
}
header nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    text-align: center;
    
}

@media (min-width: 1100px) {
    header { 
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    header h3 {
        display: none;
    }

    header nav ul { 
        display: flex;
        gap: 40px;
    }

} 


/*---------botones---------*/

.btn {
    border: none;
    background-color: rgb(78, 158, 25);
    color: whitesmoke;
    border-radius: 10px;
    padding: 8px 10px;
}


/*---------------PORTADA-----------*/

.portada {
    background-image: url(../images/leaves.webp);
    height: 20vh;
    background-position: center;
  
    display: flex;
    justify-content: center;
    align-items: center;
}



.portada h2 {
    background-color: rgba(255, 248, 220, 0.567);
    padding:20px;
    text-align: center;
    border-radius: 10px;
    color:rgb(133, 214, 10) 
    
}

@media (min-width: 768px) {
    .portada h2 { background-color: rgb(78, 158, 25);
        color: white
        ;

    }


}

/*-----------PRODUCTOS DESTACADOS GALERIA DEL HOME---------------*/

.grilla-productos-destacados {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-row-gap: 20px;
    justify-items: center;


    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;


}

main div h3 {  
    color: rgb(78, 158, 25);
    text-align: center;
    margin: 20px;
}

.tarjeta-producto img   {
    width: 50;
    height: 45%;
    object-fit: cover;

}

.tarjeta-producto-hellmanns img {
    width: 80px;
    height: 120px;
    object-fit: cover;
}

.tarjeta-producto-hellmanns {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(41, 107, 19);
    height: 100%;
    width: 80%;
    
   
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 10px;
    transform: ;

    
}

.tarjeta-producto{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(41, 107, 19);
    height: 100%;
    width: 80%;

    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;


}

@media (min-width:1100px) {
    .grilla-productos-destacados {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        padding: 20px;
    

   
        
    }


    .tarjeta-producto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;

        width: 100%;
        height: 100%;
    }

    .tarjeta-producto img{
        width: 200px;
        height: 100px;

    }

    .tarjeta-producto-hellmanns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;


        width: 100%;
        height: 100%;

    }

    .tarjeta-producto-hellmanns img {
        width: 100px;
        height: 100px;

    }
}

/* -----------------CONOCENOS y NOSOTROS DEL HOME------------ */

.conocenostext {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}


/*--------- PAGINA NOSOTROS----------*/

.bg-verde {
    background-color: rgb(10, 148, 10);
}

.footer-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



.nuestro-proposito h3 {
    color: rgb(78, 158, 25);


}
.nuestra-historia h3 {
    color: rgb(78, 158, 25);


}

/*------------------  RECOMENDACIONES Y EXPERIENCIAS PAGINA -----------*/

.recomendaciones-experiencias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;

}

.recomendaciones-experiencias h3 {
    color: rgb(78, 158, 25);
    padding: 10px;

}

.recomendaciones {
    border: 2px solid rgb(41, 107, 19);
    height: 175px;
    text-align: center;
    padding: 5%;
    margin-top: 20px;
    margin-bottom: 20px;



} 



footer div h4{
color: rgb(255, 255, 255);
padding: 5px;

}

footer div ul {
    color: rgb(255, 255, 255);
    justify-content: space-between;
    padding: 5px;
    

}



/*-------------PRODUCTOS TBD------------*/

/*-----------EXPERIENCIA VERDE----------*/

.restaurantes {

    border: none;
    width: 900px;
    height: 900 px;
  
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding: 40px;
  }
        
.lugares { 
    border: none;
    width: fit-content;
    height: fit-content;
    display: flex;
    

    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding: 40px;

 
}

.opina {
    border: none;
    width: fit-content;
    height: fit-content;
  
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding: 40px;


}


/*-----------------CONTACTO-------------*/

.contactanos {

    border: none;
    width: fit-content;
    height: fit-content;
  
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding: 40px;

}

.formulario-contacto {
    border: none;
    width: fit-content;
    height: fit-content;
  
    align-items: left;
    padding: 40px;



}

.formulario-contacto article form {
    border: none;
    width: fit-content;
    height: fit-content;
  
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: left;
    padding: 40px;


}

.btncontacto {
    border: none;
    background-color: rgb(78, 158, 25);
    color: whitesmoke;
    border-radius: 10px;
    padding: 8px 10px;
    margin: 40px;

    
}


