.img-experienciaopiniones {
    background-image: url(..//images/experiencia-opiniones.jpg);
    background-size: cover;
    object-fit: fill;
    height: 20vh;
    background-position: center;
    background-position: bottom;
    
    display: flex;
    justify-content: center;
    align-items:center;
    object-position: bottom;
}