.img-experienciaopiniones {
    background-image: url(..//images/experiencia-opiniones.jpg);
    background-size: cover;
    object-fit: fill;
    height: 20vh;
    background-position: center;
    background-position: bottom;

    display: flex;
    justify-content: center;
    align-items:center;
    object-position: bottom;
}

.imgtoptres {
    width: 160px;
    height: 160px;
}

.seccionexperienciaverde {
    background-image: url(/images/top3.jpg);
    background-size: cover;

    object-fit: fill;
    background-position: center;
    background-position: bottom;
}

.imgrestos {
    width: 250px;
    height: 250px;
    
}

.titulo-top3 {
    font-size: 24px;
}
.seccionlugares {
    background-image: url(/images/top32.jpg);
    background-size: cover;

    object-fit: fill;
    background-position: center;
    background-position: bottom;
}

.seccionopina {
    background-image: url(/images/top3.jpg);
    background-size: cover;

    object-fit: fill;
    background-position: center;
    background-position: bottom;
}

.titulo-experiencia {
    text-align: center;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: 27px;
    color: $color-primario;
    margin: 20px;
    text-shadow: -2px 2px 5px  rgba(250, 255, 250, 0.573);
    font-weight: bold;
}