


/*------productos destacados---*/

div h3 {
    text-align: center;
    font-size: 27px;
    color: $color-primario;
    margin: 20px;
    text-shadow: -2px 2px 5px  rgba(3, 99, 10, 0.573);
}

.grilla-productos-destacados {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 30px;
    justify-items: center;

    @media (min-width:1100px) {
        display: grid;
        grid-template-columns: 400px 400px;
        grid-template-rows: 300px 300px;
        align-items: center;
        justify-content: center;
        padding: 20px;

    }

}

   
.hellmanns {
    width: 100px;
    height: 140px;
    object-fit: contain;

}  

.queso {
    width: 200px;
    height: 120px;
    object-fit: contain;
}

.hamburguesas {
    width: 200px;
    height: 150px;
    object-fit: contain;
    
}
.alfajor {
    width: 200px;
    height: 150px;
    object-fit: contain;
    
}



  
.tarjeta-producto{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(41, 107, 19);
    height: 300px;
    width: 300px; 
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    

}
    
    



.conocenos {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;

     

    p {
      font-style: italic;
      line-height: 25px;
      margin-bottom: 25px;
    }

    @media (min-width:1100px) {
        display: grid;
        grid-template-columns: 800px ;
        grid-template-rows: 100px ;
        align-items: center;
        justify-content: center;
        padding: 30px;

        }

}

.grilla-recomendaciones {

    display: grid;
    grid-template-columns: 180px 180px;
    grid-template-rows: 160px 200px;
    justify-content: center;
    text-align: center;
    padding: 20px;

    article {
        display: flex;
        flex-direction: column;
        gap: 5px;

        h4 {
            color: $color-primario;
        }

        p {
            font-style: italic;
        }

    }

    @media (min-width:1100px) {
        display: grid;
        grid-template-columns: 400px 400px ;
        grid-template-rows: 160px 160px ;
        align-items: center;
        justify-content: center;
        padding: 30px;

        }
}

   
footer {
    padding: 10px;
    color: rgb(110, 117, 18);
    background-image: url(/images/leaves.webp);
   


   h4 {
    font-style: italic;
    text-align: center;
    padding: 10px;
   }

   ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;


   }



}