.titulo-nosotros {
    text-align: center;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: 40px;
    color: $color-primario;
    margin: 20px;
    text-shadow: -2px 2px 5px  rgba(3, 99, 10, 0.573);
}


