
.filtros {
    background-color: $color-green;
    padding: 10px;
    h2 {
        text-align: center;
        font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
        font-size: 27px;
        color: $color-primario;
        margin: 20px;
        text-shadow: -2px 2px 5px  rgba(3, 99, 10, 0.573);
    }

    

    ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-left: 1px;
        gap: 5px;

        color: $color-primario;

        

        @media (min-width:1100px) {
            
            display: flex;
            flex-direction: row;
            gap: 50px;
            justify-content: center;
            color: $color-primario;}
        
    }

}


.grilla-seccionproductos article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border: 2px solid rgb(41, 107, 19);
    height: 300px;
    width: 300px; 
    justify-content: center;
    margin-top: 10px;
    color: $color-primario;


   
}
.grilla-seccionproductos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 30px;
    justify-items: center;


    @media (min-width:1100px) {
        display: grid;
        grid-template-columns: 266px 266px 266px;
        grid-template-rows: 300px 300px;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 40px;

    }
}



.tarjeta-seccionproductohamburguesa {
    h3 {
        text-align: center;
    }
}

.tarjeta-seccionproductoleche {
    img {
        width: 80px;
        height: 125px;
    }

}

.tarjeta-seccionproducto {
    img {
        width: 125px;
        height: 125px;
        overflow: hidden;
    }

}


.tarjeta-seccionproductonotcheese {
    
    img {
    
    height: 100px;
    width: 100px;
    }
    
    h3 {
        text-align: center;
    }
}

.tarjeta-seccionproductojamon img {
    height: 125px;
    width: 150px;
    overflow: hidden;
}

.titulo-sugerencias {
    text-align: center;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: 27px;
    color: $color-primario;
    margin: 20px;
    text-shadow: -2px 2px 5px  rgba(3, 99, 10, 0.573);
  


}
    



.sugerencias-clientes {
   
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 300px;
    justify-content: center;
    text-align: center;
    padding: 20px;
    gap: 20px;

    article {
        display: flex;
        flex-direction: column;
        gap: 5px;
        list-style:circle;
        
        a {
            text-decoration: none;
            color: $color-primario;
        }

        h4 {
            color: $color-primario;
            
        }

        p {
            font-style: italic;
            
        }

    }

    @media (min-width:1100px) {
        display: grid;
        grid-template-columns: 400px 400px ;
        grid-template-rows: 260px 200px;
        
        justify-content: center;
        padding: 30px;

    }
}




